.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.sidebar{
    box-sizing: border-box;
    background-color: aquamarine;
    border-color: aqua;
    border-radius: 5px;
}
.mr-0 {
    margin-right: 0;
}
.ml-auto {
    margin-left:auto;
}
.d-block {
    display:block;
}
.center {
    text-align: center;
}  
.left{
    background-color: aquamarine;
    border: aqua;
} 
.sidenav {
    height: 725px;
    width: 450px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #87CEEB;
    overflow-x: hidden;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 100px;
    border-color: #4169E1;
    border-style: solid;
    border-width: thin;
}
  
  .sidenav a {
    padding: 6px 8px 15px 25px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;

    
    
}
.sidenav .ul .li .a{
    border: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}